.App {
  text-align: center;
}

.App-logo {
  max-width: 250px !important; 
  max-height: 250px !important; 
}
.App-header {
  background-color: #ffffff;
  padding: 10px;
  align-items: center;
}

.App button {
  background-color: #481458;
  color: rgb(255, 252, 252);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.content{
  padding: 2px;

}
@media (max-width: 760px) {
  .App-logo {
    max-width: 150px !important; 
    max-height: 150px !important; 
  }
}
